.element{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;

    margin: 0.5em;
}

.reaction{
    width: 80%;
}
.reactionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reactionTitle h1{
    font-size: 1.5em;
    margin: 0.5em;
}
.iconsReaction{
    width: 1.5em;
    margin: 0.2em;
}
.icon{
    width: 5em;
}
.element h1{
    font-size: 1.5em;
}