.containerCharacters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    box-sizing: border-box;
    color: white;

}
.tr th{
    max-height: 20%;
    max-width: 20%;
    width: 20%;
}
.tr{
    width: 100%;

}
.nation{
    width: 80%;
}
.vision{
    width:40%;
}
.icon{
    width: 80%;
    border-radius: 1em;
}
.tbody{
    padding:5em;
}
.tbody tr{
    width: 5em;
    max-height: 10em;
    
}

.table{
    width:100%;
    border:1px solid white;
    border-collapse: collapse;
    text-align: center;
 
}
th, td {
    border: 1px solid white; /* Define bordas pretas para as células */
    padding: 8px; /* Adiciona espaçamento interno nas células */
    text-align: middle; /* Alinha o texto à esquerda */
    vertical-align: middle;
    align-items: center;
      white-space: normal; /* Permitir que o texto quebre linhas */
  word-wrap: break-word; /* Quebrar palavras longas */
    width: 100%;
  }
  
  thead {
    background-color: #252525; /* Cor de fundo para o cabeçalho */
  }
  
  tbody tr:nth-child(odd) {
    background-color: #1f1d1d; /* Cor de fundo para linhas ímpares */
  }
  
  tbody tr:nth-child(even) {
    background-color: #202020; /* Cor de fundo para linhas pares */
  }

@media (max-width: 1224px) {
    .containerCharacters>a{
        width: 25%;
        height: auto;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin: 0.5em;
    }
   
    .icon{
        width: 100%;
    }
    .containerCharacters{
        width: 100%;
        flex-direction: row;
    }
   
    p{
        font-size: 10em;
    }
   .nationName{
    box-sizing: border-box;
    font-size: 0.7em;
   }
   .name{
    font-size: 0.7em;
   }
}