main{
    display: flex;
    width: 80%;
}
.principal{
    padding: 2em 1em 2em 1em;
    display: flex;
    flex-direction: column;
    flex:3;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: white;
    border-top: 0.2em solid white;
    border-color: white;
    margin-top: 5em;
    margin-bottom: 5em;
}