nav{
    width: 100%;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    flex-wrap:wrap;
    
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  

 
}
.nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
.nav li{
   
    height: 20%;
    margin: 1em;
    padding: 1em;
    font-weight: bolder;
    font-size: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style-type:none;
    box-sizing: border-box;
   border-radius: 0.2em;
   -webkit-box-shadow: 0px 0px 69px -7px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 69px -7px rgba(0,0,0,0.31);
    box-shadow: 0px 0px 69px -7px rgba(0,0,0,0.31);

}
.nav li:hover {
    cursor: pointer;
    scale:1.1;
}
.nav li:hover a{
    color: white;
}
.borderSlide{
    padding: 0.5em;
    color: black;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.borderSlide::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    height: 0.1em;
    background-color: white;
    transition: width 0.3s ease-in-out;
}
.borderSlide:hover::after{
    width: 98%;
}

.check{
    position: relative;
    padding: 0.5em;
    color: black;
    text-decoration: none;
 
}

.check::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 98%;
    height: 0.1em;
    background-color: white;
    transition: width 0.3s ease-in-out;
    
}
.check:hover::after{
    width: 0;
}


