.containerCharacters{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    box-sizing: border-box;
    color: white;

}
.tr th{
    max-height: 20%;
    max-width: 20%;
    width: 20%;
}
.tr{
    width: 100%;

}
.nation{
    width: 3em;
}
.vision{
    width: 3em;
}
.icon{
    width: 5em;
    border-radius: 1em;
}
.tbody{
    padding:5em;
}
.tbody tr{
    width: 5em;
    max-height: 10em;
    
}

.table{
    width:100%;
    height: 100%;
    border:1px solid white;
    border-collapse: collapse;
    text-align: center;

}
th, td {
    border: 1px solid white; /* Define bordas pretas para as células */
    padding: 8px; /* Adiciona espaçamento interno nas células */
    text-align: middle; /* Alinha o texto à esquerda */
    vertical-align: middle;
  }
  
  thead {
    background-color: #252525; /* Cor de fundo para o cabeçalho */
  }
  
  tbody tr:nth-child(odd) {
    background-color: #1f1d1d; /* Cor de fundo para linhas ímpares */
  }
  
  tbody tr:nth-child(even) {
    background-color: #202020; /* Cor de fundo para linhas pares */
  }

.visionCell{
    display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}