
.logo{
    height: 50%;
    color: aliceblue;
}
.header{
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;;
    flex-grow: 1;
    height: 10em;
    border-bottom: 4px solid black;
}

