header{
    flex:1;
}
.logo{
    width: 100%;
    margin: 1em 0 2em 0;
    filter: invert(100%) brightness(2);
}
.logo:hover{
    cursor: pointer;
}
.header{
    background-color: rgba(8, 8, 8, 0);
    width: 80%;
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   margin-top: 2em;
   box-sizing: border-box;
   margin-bottom: 5em;
 
   border-bottom: none;


}
.header section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header div{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}




