
.logo{
    height: 50%;

    margin: 0 0 2em 0;
  
}
.header{
    background-color: rgba(8, 8, 8, 0);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   margin-top: 3em;
   box-sizing: border-box;
   height: 15em;
}




